@page "/tests/{userId}/{testId}/cases"
@inject IWebHostEnvironment env
@inject IDialogService DialogService
@inject IModelService<TestCase> TestCaseService
@inject IModelService<Test> TestService
@inject IBreadcrumbService BreadcrumbService
@inject IFileHandlingService FileHandlingService
@inject ISnackbar Snackbar
@inject NavigationManager Navigation
@attribute [Authorize(Roles = "admin")]

@if (testCases == null)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    <h3>@test.Name Cases</h3>
    <MudTable Items="@testCases" Hover="true" Breakpoint="Breakpoint.Sm">
        <ColGroup>
            <col style="width: 60%;" />
            <col />
            <col />
            <col />
        </ColGroup>
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Expected Output</MudTh>
            <MudTh>Input</MudTh>
            <MudTh>Action</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd DataLabel="Out">
                    <MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="()=>OpenDialogAsync(context.Id+uploadOutputPath+context.ExpectedOutput)">@context.ExpectedOutput</MudButton>
                </MudTd>
                <MudTd DataLabel="In">
                    <MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="()=>OpenDialogAsync(context.Id+uploadInputPath+context.Input)">@context.Input</MudButton>
                </MudTd>
                <MudTd>
                    <MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="@(() => DeleteTest(context.Id))">Delete</MudButton>
                </MudTd>
            </RowTemplate>
    </MudTable>
}

@code {
    [Parameter]
    public string userId { get; set; }
    [Parameter]
    public string testId { get; set; }

    private HorizontalAlignment horizontalAlignment = HorizontalAlignment.Right;
    private string rowsPerPageString = "Rows per page:";
    private string infoFormat = "{first_item}-{last_item} of {all_items}";
    private string allItemsText = "All";

    private List<TestCase> testCases;
    private Test test;
    private string uploadInputPath = "/Input/";
    private string uploadOutputPath = "/Output/";

    protected override async Task OnInitializedAsync()
    {
        test = await TestService.Get(Guid.Parse(testId));
        List<TestCase> testcases = await TestCaseService.GetAll();
        testCases = testcases.Where(x => x.TestId == Guid.Parse(testId)).ToList();
        await BreadcrumbService.SetItems([new(text: "Users", href: "/users", icon: Icons.Material.Filled.Storage),
            new(text: userId, href: "/users", icon: Icons.Material.Filled.Storage),
            new(text: "Tests", href: $"/tests/{userId}", icon: Icons.Material.Filled.AllInbox),
            new("TestCases", $"/tests/{userId}/{testId}/cases", icon: Icons.Material.Filled.Storage)]);
        await BreadcrumbService.RefreshLayout();
    }
    private async Task DeleteTest(Guid testId)
    {
        var options = new DialogOptions { CloseOnEscapeKey = false, MaxWidth = MaxWidth.Small, FullWidth = true };
        var parameters = new DialogParameters<Dialogs.CodeDialog>
        {
            { x => x.DialogTitle, "Delete Test Case"},
            { x => x.ContentText, "Are you sure about to delete "+(await TestCaseService.Get(testId)).Name+"?"}
        };
        var d = await DialogService.ShowAsync<Dialogs.ConfirmDialog>("Confirm Dialog", parameters, options);
        var result = await d.Result;
        if (!result.Canceled)
        {
            string uploadPath = Path.Combine(env.WebRootPath, "Upload", userId, this.testId, "TestCases", testId.ToString());
            await FileHandlingService.RemoveAllFiles(uploadPath);

            await TestCaseService.Delete(testId);

            List<TestCase> testcases = await TestCaseService.GetAll();
            testCases = testcases.Where(x => x.TestId == Guid.Parse(this.testId)).ToList();
            Snackbar.Add("Test Removed!", Severity.Success);
        }
    }
    private Task OpenDialogAsync(string filename)
    {
        string uploadPath = Path.Combine(env.WebRootPath, "Upload", userId, this.testId, "TestCases");
        String filedata = "";
        StreamReader sr = new StreamReader(uploadPath + "/" + filename);
        while (!sr.EndOfStream)
        {
            filedata += sr.ReadLine() + "<br>";
        }
        sr.Close();
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Medium, FullWidth = true };
        var parameters = new DialogParameters<Dialogs.CodeDialog>
        {
            { x => x.DialogTitle, filename},
            { x => x.ContentText, filedata},
        };
        return DialogService.ShowAsync<Dialogs.CodeDialog>("Code Dialog", parameters, options);
    }
}