@page "/test/{userId}/{testId}/open"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Forms
@using System.IO.Compression
@inject IWebHostEnvironment env
@inject IDialogService DialogService
@inject NavigationManager Navigation
@inject IModelService<TestCase> TestCaseService
@inject IModelService<Test> TestService
@inject IModelService<StudentTest> StudentTestService
@inject IBreadcrumbService BreadcrumbService
@inject IFileHandlingService FileHandlingService
@inject ISnackbar Snackbar
@attribute [Authorize(Roles = "admin")]

<PageTitle>Test View</PageTitle>
<MudGrid Spacing="10">
    <MudItem xs="12" lg="6">
        <MudPaper Elevation="2" Class="d-flex overflow-x-auto align-start justify-start mud-width-full py-8" Style="min-width:300px;" Height="500px">
            <MudList T="string" Class="pa-4" Style="width:100%;">
                <h5><MudIcon Icon="@Icons.Material.Filled.Folder" Style="font-size: 2rem;" /><span class="align-middle pl-2">Uploaded Files</span></h5>
                <MudDivider />
                @if (uploadedFiles != null && uploadedFiles.Count != 0)
                {
                    @foreach (var file in uploadedFiles)
                    {
                        <MudListItem Style="width:100%;" Icon="@Icons.Custom.FileFormats.FileCode" OnClick="() => OpenDialogAsync(file)">
                            <MudText>@file<MudText Inline="true"><MudIconButton Icon="@Icons.Material.Filled.Remove" Color="Color.Inherit" Edge="Edge.End" OnClick="@(() => DeleteFile(file))" /></MudText></MudText>
                        </MudListItem>
                    }
                }
                else
                {
                    <MudListItem>No files uploaded!</MudListItem>
                }
            </MudList>
        </MudPaper>
    </MudItem>
</MudGrid>
<div class="d-flex">
    <MudButton EndIcon="@Icons.Material.Filled.ArrowForwardIos" Class="mt-5 ml-5" Variant="Variant.Outlined" OnClick="@NavigateToCases">Test Cases</MudButton>
</div>

@code {
    [Parameter]
    public String userId { get; set; }
    [Parameter]
    public String testId { get; set; }

    IList<IBrowserFile> _files = new List<IBrowserFile>();
    private bool disableUpload { get; set; } = true;

    private List<string> uploadedFiles = new();
    private List<string> filecontents = new();
    private List<TestCase> testCases = new();
    private String uploadPath = "";
    private List<String> neptuncodes { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        testCases = await TestCaseService.GetAll();
        var test = await TestService.Get(Guid.Parse(testId));
        testCases = testCases.Where(x => x.TestId == Guid.Parse(testId)).ToList();

        uploadPath = Path.Combine(env.WebRootPath, "Upload", userId, testId);
        ListUploadedFiles();

        await BreadcrumbService.SetItems([new(text: "Tests", href: "/tests", icon: Icons.Material.Filled.AllInbox), new(test.Name, $"/test/{testId}/open", icon: Icons.Material.Filled.EditNote)]);
        await BreadcrumbService.RefreshLayout();

    }
    private async void ListUploadedFiles()
    {
        uploadedFiles = await FileHandlingService.ReadFiles(uploadPath);
    }
    private async void DeleteFile(string filename)
    {
        var options = new DialogOptions { CloseOnEscapeKey = false, MaxWidth = MaxWidth.Small, FullWidth = true };
        var parameters = new DialogParameters<Dialogs.CodeDialog>
        {
            { x => x.DialogTitle, "Delete File"},
            { x => x.ContentText, "Are you sure about to delete "+filename+"?"}
        };
        var d = await DialogService.ShowAsync<Dialogs.ConfirmDialog>("Confirm Dialog", parameters, options);
        var result = await d.Result;
        if (!result.Canceled)
        {
            await FileHandlingService.RemoveFile(uploadPath, filename);

            var stests = await StudentTestService.GetAll();
            var stestid = stests.FirstOrDefault(x => x.StudentName == filename).Id;

            await StudentTestService.Delete(stestid);
            ListUploadedFiles();
            StateHasChanged();
            Snackbar.Add("Remove successful!", Severity.Success);
        }
    }
    private Task OpenDialogAsync(string filename)
    {
        String filedata = "";
        StreamReader sr = new StreamReader(uploadPath + "/" + filename);
        while (!sr.EndOfStream)
        {
            filedata += sr.ReadLine() + "<br>";
        }
        sr.Close();
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Medium, FullWidth = true };
        var parameters = new DialogParameters<Dialogs.CodeDialog>
        {
            { x => x.DialogTitle, filename},
            { x => x.ContentText, filedata},
        };
        return DialogService.ShowAsync<Dialogs.CodeDialog>("Code Dialog", parameters, options);
    }
    private void NavigateToCases()
    {
        Navigation.NavigateTo($"/tests/{userId}/{testId}/cases");
    }
}